body {
  /* margin-top: 20px; */
}

.steps .step {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
}

.steps .step .step-icon-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
  display: block;
  position: absolute;
  top: 50%;
  width: 50%;
  height: 3px;
  margin-top: -1px;
  background-color: #e1e7ec;
  content: "";
  z-index: 1;
}

.steps .step .step-icon-wrap::before {
  left: 0;
}

.steps .step .step-icon-wrap::after {
  right: 0;
}

.steps .step .step-icon {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #e1e7ec;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #384960;
  font-size: 38px;
  /* line-height: 10px; */
  z-index: 5;
}

.steps .step .step-title {
  margin-top: 16px;
  margin-bottom: 0;
  color: #606975;
  font-size: 14px;
  font-weight: 500;
}

.steps .step:first-child .step-icon-wrap::before {
  display: none;
}

.steps .step:last-child .step-icon-wrap::after {
  display: none;
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
  background-color: #0da9ef;
}

.steps .step.completed .step-icon {
  border-color: #0da9ef;
  background-color: #5fccff;
  /* color: #fff; */
}

.steps .step.accepted .step-icon-wrap::before,
.steps .step.accepted .step-icon-wrap::after {
  background-color: rgb(51, 63, 98);
}
.steps .step.accepted .step-icon {
  border-color: rgb(3, 38, 67);
  background-color: rgb(3, 38, 67);
  color: #c7c7c7;
}

.steps .step.rejected .step-icon-wrap::before,
.steps .step.rejected .step-icon-wrap::after {
  background-color: #6a1313;
}
.steps .step.rejected .step-icon {
  border-color: #b40f0f;
  background-color: rgb(176, 22, 22);
  color: #ffe2e2;
}

@media (max-width: 576px) {
  .flex-sm-nowrap .step .step-icon-wrap::before,
  .flex-sm-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .flex-md-nowrap .step .step-icon-wrap::before,
  .flex-md-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

@media (max-width: 991px) {
  .flex-lg-nowrap .step .step-icon-wrap::before,
  .flex-lg-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

@media (max-width: 1200px) {
  .flex-xl-nowrap .step .step-icon-wrap::before,
  .flex-xl-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

.bg-faded,
.bg-lite-white {
  background-color: #f5f5f5 !important;
}
.bg-lite-dark {
  background-color: #2d3c4a !important;
}
